.Login {
    text-align: center;
}

.Login-container {
    width: 350px;
    height: 90vh;
}

.Login-title-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Login-logo {
    width: 100px;
}

.Login-title {
    margin-left: 15px;
    font-size: 50px;
}

.Login-error {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: rgba(248, 81, 73, 0.15);
    border: 1px solid #f85149;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.Close-error {
    background-color: transparent;
    border-style: none;
    color: #f85149;
    font-size: 15px;
}

.Close-error:hover {
    cursor: pointer;
    color: #b9403c;
}

.Login-email-header {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.email {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: 1px solid #545e70;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.Password-container {
    margin-top: 15px;
}

.Login-password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.Forgot-password-button {
  background: none;
  border: none;
  color: #2275e3;
  cursor: pointer;
  font-size: 14px;
}

.password {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: 1px solid #545e70;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.Login-button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: var(--color-primary-border) solid 1px;
    color: white;
    font-weight: 400;
}

.Login-button:hover {
    background-color: var(--color-primary-hover);
    transition: 0.5s;
    color: black;
    cursor: pointer;
}

.Login-divider {
    max-height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider {
    width: 100%;
    background-color: #545e70;
    height: 1px;
}

.or-text {
    margin-left: 10px;
    margin-right: 10px;
}

.Google-login {
    background-color: #212830;
}

.Create-account-header {
    color: white;
    font-size: 15px;
}

.Create-account-button {
    font-size: 15px;
    color: #2275e3;
    text-decoration: none;
}