:root {
    --box-width: 25vw;
}

.nav-container {
    background-color: #010409;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid #3d444d 2px;
}

.Navbar-title-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.Navbar-logo {
    width: auto;
}

.Navbar-title {
    margin-left: 15px;
    font-size: 25px;
    color: white;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.nav-link {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    width: var(--box-width);
    max-width: 250px;
    box-sizing: border-box;
    min-height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #3d444d;
    transition: 0.5s;
    cursor: pointer;
}