.upload-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}

.upload-container h2 {
  margin-bottom: 20px;
}

.input-group {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-top: solid 2px #3d444d;
  border-left: solid 2px #3d444d;
  border-right: solid 2px #3d444d;
  background: #010409;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.upload-status-container {
  background: #010409;
  border-right: 2px solid #3d444d;
  border-left: 2px solid #3d444d;
}

.model-selector-title {
  font-size: 18px;
  padding-left: 15px;
}

.model-selector {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 15px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #3d444d;
  border-radius: 5px;
  background-color: #222;
  color: white;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.model-submit-button, .refresh-outputs-button {
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: #238636;
  border: #43af56 solid 1px;
  color: white;
  font-weight: 400;
}

.model-submit-button {
  margin-right: 15px;
}

input[type="file"],
input[type="text"] {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #1a1a1a;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.files {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 2px solid #3d444d;
}

.files:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.download-logo-button {
  width: 50px;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #238636;
  border: #43af56 solid 1px;
  color: white;
  font-weight: 400;
}

.download-logo {
  height: 35px;
}

button:hover {
  background-color: #29903b;
  cursor: pointer;
}

.upload-status {
  font-size: 15px;
  color: #43af56;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.results {
  background: #010409;
  border-radius: 0px;
  border-bottom: 2px solid #3d444d;
  border-right: 2px solid #3d444d;
  border-left: 2px solid #3d444d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}